<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%date %-5level %logger{80} [%X{logId}] - %msg%n</pattern>
			<!-- <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern> -->
		</encoder>
	</appender>
	<!-- 时间滚动输出 文件日志 -->
	<appender name="file—stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./log/database-export/database-export_debug.%d{yyyy-MM-dd}_%i.log</FileNamePattern>
			<MaxHistory>100</MaxHistory>
 			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">   
                <maxFileSize>10mb</maxFileSize>   
            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%date [%thread] %-5level %logger{80} [%X{logId}] - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 时间滚动输出 level为 ERROR 日志 -->
	<appender name="file—error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./log/database-export/database-export_error.%d{yyyy-MM-dd}_%i.log</FileNamePattern>
			<MaxHistory>100</MaxHistory>
 			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">   
                <maxFileSize>10mb</maxFileSize>   
            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%date [%thread] %-5level %logger{80} [%X{logId}] - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 设置 Appender , 该Appender是logback与spring的一个桥接类,最终日志请求会交给 spring容器中 bean id 为 "sqlMonitor" 的类处理,该bean 第一步中已经声明,注意两边的 name 值要一致 -->
	<!-- 应用代码DUBBO访问日志控制 -->
	<logger name="service.accesslog" level="INFO" />
	<!-- 校验日志控制 -->
	<logger name="org.hibernate.validator" level="INFO" />
	<!-- Spring日志控制 -->
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.beans.factory" level="INFO" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.aop" level="INFO" />
	<logger name="org.springframework.jdbc" level="INFO" />
	<logger name="org.springframework.transaction.annotation" level="INFO" />
	<logger name="org.apache.activemq" level="INFO" />
	<logger name="org.springframework.jms.listener.DefaultMessageListenerContainer" level="INFO" />
	<!-- MyBatis日志控制 -->
	<logger name="org.mybatis.spring" level="INFO" />
	<logger name="org.apache.ibatis" level="INFO" />
	<!-- Java基础类日志控制 -->
	<logger name="java.sql.Connection" level="INFO" />
	<logger name="java.sql.Statement" level="INFO" />
	<!-- sql语句监控 start -->
	<!-- httpClient -->
	<logger name="org.apache.http.wire" level="INFO" />
	<!-- sql语句监控 end -->
	<root level="INFO">
		 <appender-ref ref="stdout" />
		<appender-ref ref="file—stdout" />
		<appender-ref ref="file—error" />
	</root>
</configuration>