<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta charset="UTF-8">
    <title>数据库表结构导出生成WORD文档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../../static/assetss/images/fav.png" th:href="@{/assetss/images/fav.png}">
    <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/css/index.css" th:href="@{/css/index.css}">
    <script src="../../../static/js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>

<div class="container">
    <div style="text-align: center">
        <img style="width: 80px" th:src="@{/assetss/images/fav.png}"><span style="font-size: 30px">数据库表结构导出生成WORD文档 V1.0</span>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        ORACLE
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form style="margin-top: 20px;margin-left: 100px;margin-right: 400px;">
                        <label><h1>oracle info</h1></label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="o_ip">ip</label>
                                <input type="text" class="form-control" id="o_ip" placeholder="127.0.0.1">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="o_port">port</label>
                                <input type="text" class="form-control" id="o_port" placeholder="" value="1521">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="o_dbName">dbName</label>
                                <input type="text" class="form-control" id="o_dbName" placeholder="" value="orcl">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="o_userName">userName</label>
                            <input type="text" class="form-control" id="o_userName" placeholder="userName">
                        </div>
                        <div class="form-group">
                            <label for="o_password">password</label>
                            <input type="text" class="form-control" id="o_password" placeholder="password">
                        </div>

                        <p><a class="btn btn-primary btn-lg" href="javascript:o_excute();"
                              role="button">生成文档</a></p>
                    </form>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        MYSQL
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <form style="margin-top: 20px;margin-left: 100px;margin-right: 400px;">
                        <label><h1>mysql info</h1></label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="m_ip">ip</label>
                                <input type="text" class="form-control" id="m_ip" placeholder="127.0.0.1">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="m_port">port</label>
                                <input type="text" class="form-control" id="m_port" placeholder="3306" value="3306">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="m_dbName">dbName</label>
                                <input type="text" class="form-control" id="m_dbName" placeholder="数据库名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="m_userName">userName</label>
                            <input type="text" class="form-control" id="m_userName" placeholder="userName">
                        </div>
                        <div class="form-group">
                            <label for="m_password">password</label>
                            <input type="text" class="form-control" id="m_password" placeholder="password">
                        </div>

                        <p><a class="btn btn-primary btn-lg" href="javascript:m_excute();" role="button">生成文档</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        SQL SERVER
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <form style="margin-top: 20px;margin-left: 100px;margin-right: 400px;">
                        <label><h1>sql server info</h1></label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="s_ip">ip</label>
                                <input type="text" class="form-control" id="s_ip" placeholder="127.0.0.1">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="s_port">port</label>
                                <input type="text" class="form-control" id="s_port" placeholder="1433" value="1433">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="s_dbName">dbName</label>
                                <input type="text" class="form-control" id="s_dbName" placeholder="数据库名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="s_userName">userName</label>
                            <input type="text" class="form-control" id="s_userName" placeholder="userName">
                        </div>
                        <div class="form-group">
                            <label for="s_password">password</label>
                            <input type="text" class="form-control" id="s_password" placeholder="password">
                        </div>

                        <p><a class="btn btn-primary btn-lg" href="javascript:s_excute();" role="button">生成文档</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">正在努力生成文档中，成功后文档在D:export.docx</h4>
                </div>
                <div class="modal-body" id="messageText">正在努力生成中......</div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>
</html>