h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

#app {
    margin: 1% 15% 5% 15%;
}

.header .icon-text {
    display: inline-block;
    transform: translateY(-20px);
    padding-left: 10px;
}

.header .icon-img {
    display: inline-block;
}

.header .icon-img img {
    width: 100px;
    height: 100px;
}

.header .icon-text .icon-notes {
    margin-top: 10px;
}

.body {
    border: 1px solid rgb(235, 233, 233);
    height: 70%;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
}

.body .sql-kind-div {
    width: 100%;
    height: 25%;
    border-right: 1px solid rgb(235, 233, 233);
    /* border: 1px solid rgb(128, 54, 54); */
}

.body .body_side_bar {
    float: left;
    width: 25%;
    box-sizing: border-bix;
}

.body .body_side_bar .bar-icon {
    width:80px;
    height:80px;
    margin-top: 12%;
}

.body .body_content {
    float: left;
    width: 75%;
    box-sizing: border-bix;
}
