<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta charset="UTF-8">
    <title>database-export</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../static/assetss/images/fav.png" th:href="@{/assetss/images/fav.png}">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../static/element-ui/element-ui.css" th:href="@{/element-ui/element-ui.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var ctx = [[@{/}]];
        var base64Params = [[${base64Params}]];
    </script>
    </script>
    <!-- 引入组件库 -->
    <script src="../../static/vue/vue.v2.6.10.js" th:src="@{/vue/vue.v2.6.10.js}"></script>
    <script src="../../static/vue/axios.v0.19.0.min.js" th:src="@{/vue/axios.v0.19.0.min.js}"></script>
    <script src="../../static/element-ui/element-ui.js" th:src="@{/element-ui/element-ui.js}"></script>
</head>
<style type="text/css">
</style>
<body>
<div id="app">
    <el-header>
        <el-row type="flex" align="middle">
            <el-col :span="1"><img style="width: 80px" th:src="@{/assetss/images/fav.png}"></el-col>
            <el-col :span="10" style="margin-left: 30px;">
                <span style="font-size: 34px;">database-export 数据库表html预览</span>
            </el-col>
            <el-col :span="8">
                <el-select v-model="selectDefaultValue" @change="selectItem" filterable placeholder="搜索表名" size="medium">
                    <el-option
                            v-for="item in selectOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
    </el-header>
    <el-main style="margin-top: 100px;" v-loading="loading" >
        <div :href="'#'+item.tableName" v-for="(item,index) in tableData.tableDetailInfo" :key="index" style="margin-top: 50px;">
            <h1>{{item.tableName}}({{item.tableComments}})</h1>
            <el-table :data="item.tabsColumn" border style="width: 100%">
                <el-table-column v-for="(item2,index2) in tableData.fieldList" :key="index2" :prop="item2.prop" :label="item2.label"></el-table-column>
            </el-table>
        </div>
    </el-main>
    <el-backtop target=".page-component__scroll .el-scrollbar__wrap"></el-backtop>
</div>
</body>
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            selectDefaultValue: '',
            tableData: [],
            loading: false
        },
        computed:{
            selectOptions() {
                let data = this.tableData.tableDetailInfo;
                if(data == undefined) {
                    return [];
                }
                let a = [];
                for(let i=0;i<data.length;i++){
                    let text = data[i].tableName + '('+data[i].tableComments+')';
                    a.push({"value": data[i].tableName,'label': text});
                }
                return a;
            }
        },
        methods: {
            selectItem(val){
                window.location.href = "#" + val;
            },
            loadInfo:function(){
                this.loading = true;
                axios.get(ctx + "getTableData",{
                    params:{base64Params: base64Params}
                }).then(resp =>{
                    resp = resp.data;
                    if (resp.resultCode == '000000') {
                        this.tableData = resp.params;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message({
                            message: resp.resultMsg,
                            type: 'warning'
                        });
                    }
                }).catch(err =>{
                    this.loading = false;
                    console.log(err);
                });
            }
        },
    });
    vue.loadInfo();
</script>
</html>